.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background-color: #1c1b1d;
  color: #4e3e3e;
}

.rhythm-container {
  width:fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rhythm-container div {
  width: 100px;
  height: 100px;

  margin: 8px;
  border-radius: 8px;
}

.note {
  background-color: #4e3e3e;
}

.note-beat {
  font-weight: 300;
  font-style: italic;
  font-size: 3em;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* in the future might want different color for right and left hands */
.note-right {
  background-color: #deaf9d;
  color: #1c1b1d;
}

.note-left {
  background-color: #deaf9d;
  color: #1c1b1d;
}